.lhq-fold-rowContainer {
  width: 100%;
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
.lhq-fold-columnContainer {
  height: 100%;
  display: flex;
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.lhq-fold-selectContainer {
  border-color: #2e75d3;
}

.lhq-fold-arrowRowContainer {
  position: absolute;
  bottom: 0;
  right: 50%;
  z-index: 2;
}
.lhq-fold-arrowColumnContainer {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
}

.lhq-arrow {
  padding: 4px;
  border: 1px solid #2e75d3;
}
.lhq-row-arrow-open {
  border-radius: 8px 8px 0 0;
  border-bottom: 0;
}
.lhq-row-arrow-close {
  border-radius: 0 0 8px 8px;
  border-top: 0;
}
.lhq-column-arrow-open {
  border-radius: 8px 0 0 8px;
  border-right: 0;
}
.lhq-column-arrow-close {
  border-radius: 0 8px 8px 0;
  border-left: 0;
}

.lhq-down-arrow {
  width: 0;
  height: 0;
  transform: translate(0, 25%);
  border: 7px solid transparent;
  border-top-color: black;
}
.lhq-up-arrow {
  width: 0;
  height: 0;
  transform: translate(0, -25%);
  border: 7px solid transparent;
  border-bottom-color: black;
}
.lhq-right-arrow {
  width: 0;
  height: 0;
  transform: translate(25%, 0);
  border: 7px solid transparent;
  border-left-color: black;
}
.lhq-left-arrow {
  width: 0;
  height: 0;
  transform: translate(-25%, 0);
  border: 7px solid transparent;
  border-right-color: black;
}
