.container {
  width: 65vw;
  margin: 5em auto;
}
.container .title {
  text-align: center;
  padding: 1em 0em;
}
.main {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto;
}
.drag,
.fold {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

.drag-title,
.fold-title {
  font-size: 24px;
  margin: 0.5em;
}
